.tp-resizeme img{
    width: 350px !important;
    height: auto !important;
}
.orderonline a{
    background-color: #a7221e !important;
    color: #fff !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    padding: 7px 30px;
    width: 190px;
    text-align: center;
    border-radius: 41px;
}
.nav-item .active:after{
    width:50px;
    color:#345c35 !important;
    height: 3px !important;
}
@media screen and (min-width: 992px) {
    #sidemenu_toggle{
        display:none !important;
    }
}
